@page "{id?}"
@model Redi.WebUi.Pages.Stakers.DeleteModel
@{
    ViewData["Title"] = "Delete Staker";
}
<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Staker.Id</dd>
        <dt>Email</dt>
        <dd>@Model.Staker.Email</dd>
        <dt>First Name</dt>
        <dd>@Model.Staker.FirstName</dd>
        <dt>Last Name</dt>
        <dd>@Model.Staker.LastName</dd>
    </dl>
    <form method="post">
        <input class="btn btn-danger mt-2" type="submit" value="Delete" />
    </form>
</div>