@page
@model Redi.WebUi.Pages.Stakers.RegisterModel
@{
}

<h1>Register</h1>
<div>
    <form method="post">
        <div>
            <label asp-for="RegisterRequest.Email">Email</label>
            <input type="email" asp-for="RegisterRequest.Email"/>
        </div>
        <div>
            <label asp-for="RegisterRequest.FirstName">First Name</label>
            <input type="text" asp-for="RegisterRequest.FirstName"/>
        </div>
        <div>
            <label asp-for="RegisterRequest.LastName">Last Name</label>
            <input type="text" asp-for="RegisterRequest.LastName" />
        </div>
        <div>
            <label asp-for="RegisterRequest.Password">Password</label>
            <input type="text" asp-for="RegisterRequest.Password" />
        </div>
        <div>
            <label asp-for="RegisterRequest.Role">Role</label>
            <input type="text" asp-for="RegisterRequest.Role" />
        </div>
        <button class="btn btn-success" type="submit">Register</button>
    </form>
</div>