@page
@model Redi.WebUi.Pages.Auth.LoginModel
@{
}

<h1>Login</h1>

<div>
    <form method="post">
        <div>
            <label asp-for="LoginRequest.Email">Email</label>
            <input type="email" asp-for="LoginRequest.Email" />
        </div>
        <div>
            <label asp-for="LoginRequest.Password">Password</label>
            <input type="password" asp-for="LoginRequest.Password" />
        </div>
        <button type="submit">Login</button>
    </form>
</div>
