@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Admin Home</h1>
<hr />
<div class="container w-50">
    <form method="post" asp-page-handler="CreateProfit">
        <div class="row mt-1">
            <label class="form-label col-2" asp-for="CreateDailyProfitRequest.Date">Date: </label>
            <input class="col form-control" type="date" asp-for="CreateDailyProfitRequest.Date" />
        </div>
        <div class="row mt-1">
            <label class="form-label col-2" asp-for="CreateDailyProfitRequest.Profit">Profit: </label>
            <input class="col form-control" asp-for="CreateDailyProfitRequest.Profit" />
        </div>
        <button class="btn btn-success mt-2" type="submit">Save</button>
    </form>
</div>
<hr />
<div class="w-50">
    <table class="table">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Profit</th>
        </tr>
        @foreach (var companyProfit in Model.DailyCompanyProfits)
        {
            <tr>
                <th scope="row">@companyProfit.Date</th>
                <td>@companyProfit.Profit.Value.ToString("C")</td>
            </tr>
        }
    </table>
</div>